{% extends 'base.html.twig' %}

{% block title %}Comment Episode{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">ajoute ton com'</button>
    {{ form_end(form) }}
{% endblock %}