<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/deathStars.png') }}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('symfony/ux-swup/swup', {
        containers: ['#swup', '#nav'],
        animateHistoryBrowsing: true,
        animationSelector: '[class*="swup-transition-"]',
        cache: true,
        theme: 'fade',
        debug: true,
    }) }}>
    <header id="nav">{% include 'component/_navbar.html.twig' %}</header>
    <main id="swup">
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-9 p-3">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    </body>
</html>
